apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: todo-backend
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: todo-backend
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
    name: http
