apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: todo-frontend
    tier: frontend
spec:
  type: NodePort
  selector:
    app: todo-frontend
  ports:
  - protocol: TCP
    port: 3000
    targetPort: 3000
    nodePort: 30080  # External access port
    name: http
