global:
  environment: local

backend:
  replicaCount: 2
  image:
    tag: local
  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 1024Mi

frontend:
  replicaCount: 1
  image:
    tag: local
  service:
    type: NodePort
    nodePort: 30080
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

ingress:
  enabled: false
